html,body{
    background-color: rgb(221, 252, 252);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    padding: 30px;
}
.avatar{
    margin: 50px;
    border-radius: 50%;
    
}

.h5{
    color: rgb(67, 66, 66);
}

.cuadro {
    width: 80px;
    padding: 20px;
   
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #fff;
}